@faceBookblue: #36538f;
@twitterBlue: #00acec;
@green: #27ae60;
@white: #fafeff; 
@lightGray : #373737;
@darkGray : #252525;
 
.blur(@blurness, @opacity) {
	-webkit-filter: blur(@blurness);
    -moz-filter: blur(@blurness);
    -o-filter: blur(@blurness);
    -ms-filter: blur(@blurness);
    filter: blur(@blurness);
    opacity: @opacity;
}

* {
	margin: 0;
	padding: 0;
} 

a {
	color: @twitterBlue; 
}

.menu {
	position: fixed;
	background-color: @darkGray;
	color:@white;
	z-index: 4444;
	float: left;
	min-width: 20%;
	max-width: 400px;
	height: 100%;

	h1 {
		text-align: center;
		display: none;
	}

	.facebook {	
		position: relative;
		width: 100%;
		background-color: @lightGray;

		img {
			position: relative;
			margin: 0 auto;
			width: 100px;
			height: 100px;
			margin-top:50px;
			border: 2px solid @faceBookblue;
		}

		h3 {
			text-align: center;
			font-size: 15px;
		}

		.profile {
			width: 100%;
			position: relative;
			margin-top: 10px;
			background-color: @faceBookblue;
			padding: 5px 0px;
			text-align: center;
			min-height: 20px;
		}
	}

	.nav {
		position: relative;
		margin-top: 30px;
		background-color: @darkGray;
		list-style: none;
		width: 100%;
		float: left;

		li {
			background-color: @lightGray;
			position: relative;
			padding: 5px 0px;
			margin-bottom: 1px;
			left: none;
			text-align: justify;
			min-height: 20px;

			a {
				color:white;
				text-decoration: none;
			}

			.subnav {

				width: 100%;
				margin-left: 0px;

				li {
					list-style: none;
					background-color: @darkGray;

					&:hover {
						background-color : @green;
					}
				}
			}
		}
	}

	.social {
		position: absolute;
		bottom: 0px;
		width: 100%;
		text-align: center;
		
		.fb {
			width: 30%;
			background-color: @faceBookblue;
			float: left;
			padding: 10px 0px;
		}

		.tw {
			width: 70%;
			float: left;
			padding: 10px 0px;
			background-color: @twitterBlue;
		}
	}
}




#map {
	position: absolute;
	height: 100%;
	width: 100%;
}

.more {
	display: none;
	position: absolute;
	float: left;
	background-color: @darkGray;
	width: 0px;
	height: 100%;
	z-index: 4000;
	/*.blur(10px, 0.9);  */
}



@import 'fonts';
@import 'mediaqueries';
/*@import 'mobile-nav';*/
@import 'normalize';



