/** FONTS **/
$proxima: "ProximaNova";
$proximaBold: "ProximaNovaBold";

/** COLORS **/
$dark-grey: #252525;
$light-grey: #373737;
$font-color: #fafeff;
$green: #24ac5d;
$facebook-blue: #36538f;
$twitter-blue: #00acec;

.facebookwarning {
	margin : 20px;
	margin-bottom: 40px;
}

@mixin boxShadow() {
	-webkit-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 7px 9px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 7px 9px rgba(0, 0, 0, 0.1);
}

body {
	font-family: $proxima;
	font-size: 1em;
	background-color: $dark-grey;
	color: $font-color;
	font-weight: normal;
}

html, body {
	height: 100%;
	overflow: hidden;
	overflow-y:scroll;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
	color: $font-color;
	text-decoration: none;
	&:hover {
		@extend a;
		// text-decoration: underline;
	}
}

.underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

#table-wrapper {
	height: 100%;
	overflow: hidden;

	.main-nav {
		min-height: 300px;
	}

	.page-wrap {
		height: 100%;
	}

}

#desktop, .hidden {
	display:none;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	#map {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
	}
}

.logged-in {
	background-color: $light-grey;
	padding-bottom: 3em;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
	font-size: 0.9em;

	img {
		border: 3px solid $facebook-blue;
		max-width: 120px;
		height: auto;	
	}

	h2 {
		font-family: $proximaBold;
		font-size: 1em;
		color: $font-color;
		text-transform: uppercase;
		line-height: 1em;
		margin:0.5em 0 0 0;
	}

	.view-profile {
		text-align: left;
		background-color: $facebook-blue;
		line-height: 35px;
		text-indent: 2em;
		position: absolute;
	    cursor: pointer;
	    bottom: 0;
	    width: 100%;
		font-family: $proximaBold;
		text-transform: uppercase;
		height: 35px;

			a {
				display:block;
			}

			&:after {
				content: '';
				background-image: url("../img/icons/icons_sprite.gif");
				width: 11px;
				height:16px;
				background-size: 44px 16px;
				position: absolute;
				right: 2em;
				top: 8px;
			}

			&:hover {
				background-color: lighten($facebook-blue, 10%);
			}

	}

}

.logged-out {

	text-align: center;
	margin-bottom: 2em;

	button {
		background-color: $facebook-blue;
		width: 195px;
		height: 35px;
		border: none;
		color: $font-color;
		text-align:left;
		font-size: 0.9em;
		line-height: 35px;
		background-image: url("../img/icons/facebook.png");
	    -webkit-background-size: 22px 22px;
	    -moz-background-size: 22px 22px;
	    -o-background-size: 22px 22px;
	    background-size: 22px 22px;
	    background-position: 1em center;
	    background-repeat: no-repeat;
	    text-indent: 3em;
	    margin: 0 auto;
		-webkit-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:    0px 7px 9px rgba(0, 0, 0, 0.2);
		box-shadow:         0px 7px 9px rgba(0, 0, 0, 0.2);

			&:hover {
				background-color: lighten($facebook-blue, 5%);
			}

	}
}

h1 {
	font-family: $proximaBold;
	padding: 0.5em 0 1em 0;
	margin: 0;
	font-size: 2em;
}

header {
	h1 {
		padding: 0;
		font-size: 1em;
	}
}



#navigation {
	display: block;
	font-size: 0.9em;

	a {
		width: 100%;
		height: 100%;
	}

	ul.nav-parent {
		list-style-type: none;
		font-family: $proximaBold;
		text-transform: uppercase;
		margin: 0;
		padding: 0;

		li:last-child {
			@extend boxShadow !optional;
		}

		li.parent {
			background-color: $light-grey;
			border-top: 1px solid #000;
			line-height: 33px;
			text-indent: 2em;
			position: relative;
		    cursor: pointer;

		    a {
		    	display: block;
		    	text-decoration: none;
		    }
		    
		    .subnav {
		    	display: none;
		    }

			&:after {
				content: '';
				background-image: url("../img/icons/icons_sprite.gif");
				width: 11px;
				height:16px;
				background-size: 44px 16px;
				position: absolute;
				right: 2em;
				top: 8px;
			}

			&:not(.no-sub):hover:after {
				background-image: url("../img/icons/icons_sprite.gif");
				background-position: -11px 0;
				width: 17px;
				right: 1.9em;
			}

			&:hover {
				background-color: $green;
			}

		}

		li.active {
			@extend li.parent;
			background-color: $green;
			
			.subnav {
				display: block;
			}

			&:not(.no-sub):after {
				content: '';
				background-image: url("../img/icons/icons_sprite.gif");
				background-position: -11px 0;
				width: 17px;
				right: 1.9em;
				height:16px;
				background-size: 44px 16px;
				position: absolute;
				top: 8px;
			}

		}

		ul.subnav {
			margin: 0;
			padding:0;
			list-style-type: none;
			font-family: $proxima;
			text-transform: none;

			li {
				height: 34px;
				text-indent: 5em;

				&:hover {
					background-color: lighten($light-grey, 3%);
				}

			}
			li:not(:last-child) {
				border-bottom: 1px solid $light-grey;
			}
			
		}
	}

	ul.subnav {
		margin-top: 20px;
		background-color: $dark-grey;
	}

} // End of navigation

#social {
	position:absolute;
	background-color:green;
	width: 100%;
	bottom:0;
	border-top: 1px solid #000;

	#facebook {
		width:25%;
		background-color: $facebook-blue;
		border-right: 1px solid #000;
		background-image: url("../img/icons/facebook.png");
	    -webkit-background-size: 22px 22px;
	    -moz-background-size: 22px 22px;
	    -o-background-size: 22px 22px;
	    background-size: 22px 22px;
	    background-position: center center;
	    background-repeat: no-repeat;
	    text-indent: 3em;

			&:hover {
				background-color: lighten($facebook-blue, 5%);
			}

	}

	#twitter {
		width:75%;
		background-color: $twitter-blue;
		background-image: url("../img/icons/twitter.png");
	    -webkit-background-size: 22px 22px;
	    -moz-background-size: 22px 22px;
	    -o-background-size: 22px 22px;
	    background-size: 22px 22px;
	    background-position: 1em center;
	    background-repeat: no-repeat;
	    text-indent: 3em;
	    text-align:left;
	    line-height: 31px;

			&:hover {
				background-color: lighten($twitter-blue, 5%);
			}
	}
}

#error {
	width: 50%;
	height: 200px;
	position:absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -25px 0 0-25%;
	@extend boxShadow !optional;
	p {text-decoration: underline; cursor: pointer;}
}


