/** FONTS **/
$proxima: "ProximaNova";
$proximaBold: "ProximaNovaBold";

/** COLORS **/
$dark-grey: #252525;
$light-grey: #373737;
$font-color: #fafeff;
$green: #24ac5d;
$facebook-blue: #36538f;
$twitter-blue: #00acec;

#main {
	.sidebar {
		position: absolute;
		height: 100%;
		left:0;
		width:449px;
		border-right: 1px solid #000;
		background-image: url("../img/grey_trans.png");

		.close-sidebar {
			background-image: url("../img/icons/icons_sprite.gif");
			width: 16px;
			height:16px;
			background-size: 44px 16px;
			position: absolute;
			right: 2em;
			top: 24px;
			background-position: -28px 0;
			cursor: pointer;
		}

		form {
			textarea {
				max-width: 100%;
			}
		}

		.content {
			padding: 24px 40px;
		}
		h3 {
			font-family: $proximaBold;
			font-size: 1.2em;
			color: $font-color;
			text-transform: uppercase;
			line-height: 1.2em;
			margin:0;
		}

		h4 {
			@extend h3;
		}
	}


}

@media only screen and (min-width : 56.25em) { 
	#main {
	
	.sidebar {
		position: absolute;
		height: 100%;
		left:0;
		width:449px;
		border-right: 1px solid #000;
		background-image: url("../img/grey_trans.png");

		.content {
			padding: 24px 40px;
		}
	}
	}

}
@-webkit-keyframes sidebarIn {
	0% {
		width:0;
	}

	100% {
		width: 509px;
	}
}

@-moz-keyframes sidebarIn {
	0% {
		width:0;
	}

	100% {
		width: 509px;
	}
}

@-o-keyframes sidebarIn {
	0% {
		width:0;
	}

	100% {
		width: 509px;
	}
}

@keyframes sidebarIn {
	0% {
		width:0;
	}

	100% {
		width: 509px;
	}
}

.sidebarIn {
	-webkit-animation-name: sidebarIn;
	-moz-animation-name: sidebarIn;
	-o-animation-name: sidebarIn;
	animation-name: sidebarIn;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s; /* Safari and Chrome */
}

@-webkit-keyframes sidebarOut {
	0% {
		width:509px;
	}

	100% {
		width: 0;
	}
}

@-moz-keyframes sidebarOut {
	0% {
		width:509px;
	}

	100% {
		width: 0;
	}
}

@-o-keyframes sidebarOut {
	0% {
		width:509px;
	}

	100% {
		width: 0;
	}
}

@keyframes sidebarOut {
	0% {
		width:509px;
	}

	100% {
		width: 0;
	}
}

.sidebarOut {
	-webkit-animation-name: sidebarOut;
	-moz-animation-name: sidebarOut;
	-o-animation-name: sidebarOut;
	animation-name: sidebarOut;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s; /* Safari and Chrome */
}

